.reaction-editor-body {
    overflow-y: auto;
    max-height: 370px;
    height: 370px;
}

.reaction-editor-form-body {
    display: flex;
    overflow-y: hidden;
}

.reaction-editor-commentor-img {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
}

.reaction-editor-data-container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin-left: 6px;
}

.reaction-editor-text-area {
    width: 100%;
    border: 0px;
    outline: none;
    font-size: 22px;
}

.reaction-editor-user-image {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 50%;
}

.reaction-editor-card-body {
    margin-left: 65px;
    margin-top: 10px;
}

.reaction-editor-footer-body {
    margin-right: 30px;
}

.reaction-editor-footer-icons {
    position: absolute;
    bottom: 0px;
    left: 27px;
}

.reaction-editor-footer-action {
    position: absolute;
    bottom: 25px;
    right: 27px;
}

#repost-editor-post-body {
    width: 86%;
    float: right;
    margin-right: 27px;
    position: relative;
    border-radius: 25px;
    border: 0.1px solid rgba(0,0,0,.3);
}