.post-detail-user-image {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    object-fit: cover;
    position: absolute;
    border-radius: 50%;
}

.post-detail-card-header-image {
    top: 12px;
    left: 20px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    position: absolute;
    border-radius: 50%;
}

.post-detail-card-header {
    width: 100%;
    height: 70px;
    position: relative;
}

.post-detail-card-header-text {
    top: 16px;
    left: 80px;
    position: absolute;
}

.post-detail-body {
    margin-top: 5px;
    margin-left: 15px;
}

.post-detail-parent-user-img {
    width: 45px;
    height: 45px;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    border-radius: 50%;
}

.post-detail-repost-body-content {
    margin-left: 60px;
    margin-top: 10px;
}

.post-detail-reaction-data {
    padding-top: 13%;
    margin-left: 10px;
    color: var(--unreacted-color);
}

.post-detail-card {
    cursor: pointer;
    border-radius: 0;
    position: relative;
}

.post-detail-card-header {
    width: 100%;
    height: 70px;
    position: relative;
}

#post-detail-seperator {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#reply-box-username {
    margin-top: 10px;
    margin-left: 45px;
}

#post-detail-header {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#post-detail-heading-icon {
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 50%;
}

#post-detail-heading-text {
    width: 100%;
    font-weight: bold;
    text-align: center;
}

#post-detail-heading-icon:hover {
    cursor: pointer;
    background-color: rgba(15, 20, 25, 0.1);
}

#comment-container {
    margin-top: 20px;
    margin-left: 70px;
}