#user-info-follow-btn {
    float: right;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 20px;
    background-color: black;
    padding: 5px 15px 5px 15px;
}

#user-info-profile-editor-btn {
    float: right;
    color: black;
    cursor: pointer;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 20px;
    background-color: white;
    padding: 5px 15px 5px 15px;
}

#user-info-profile-editor-btn:hover {
    background-color: var(--common-hover-back-color);
}

#user-info-profile-save-btn {
    float: right;
    color: white;
    cursor: pointer;
    margin-top: 2px;
    font-weight: bold;
    border-radius: 20px;
    background-color: black;
    padding: 5px 15px 5px 15px;
}

#user-info-back-img-container {
    height: 285px;
    position: relative;
}

#user-info-back-img {
    width: 100%;
    height: 256px;
    cursor: pointer;
    object-fit: cover;
}

#user-info-user-img-container {
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin-top: -75px;
    margin-left: 20px;
    position: relative;
}

#user-info-user-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#user-info-user-img-uploader {
    top: 50px;
    left: 48px;
    z-index: 1;
    width: 50px;
    padding: 10px;
    color: white;
    cursor: pointer;
    position: absolute;
    border-radius: 18px;
    background-color: rgba(33, 37, 41, 0.6);
}

#user-info-user-back-img-uploader {
    top: 115px;
    z-index: 1;
    left: 320px;
    width: 50px;
    padding: 10px;
    color: white;
    cursor: pointer;
    position: absolute;
    border-radius: 18px;
    background-color: rgba(33, 37, 41, 0.6);
}

#user-info-body {
    margin-left: 20px;
}

#user-info-username-text {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0.1rem;
    font-size: 18px;
}

#user-info-bio-text {
    margin-top: 10px;
}

#user-info-profile-editor-body {
    padding: 20px;
}

#user-info-profile-dob-box {
    width: 100%;
    display: flex;
    padding-left: 12px;
    padding-right: 12px;
    justify-content: space-between;
}

#user-info-profile-dob-text {
    width: 120px;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: bold;
    align-content: center;
    color: var(--chirp-color);
}

.user-follower-data:hover {
    cursor: pointer;
    text-decoration: underline;
}

.user-info-stat-icon {
    width: 16px;
    height: 16px;
}

.span-link {
    cursor: pointer;
    color: var(--chirp-color);
}

.user-info-day-select {
    width: 120px;
}

.user-info-month-select {
    width: 140px;
}

.user-info-year-select {
    width: 100px;
}

.user-info-profile-header {
    padding-top: 2px;
    padding-right: 0;
    padding-left: 25px;
}

.user-info-mutual-connector {
    cursor: pointer;
}

.user-info-mutual-connector:hover {
    color: var(--chirp-color);
    text-decoration: underline;
}