#user-info-follow-btn {
    float: right;
    background-color: black;
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}

#user-info-back-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#user-info-user-img-container {
    width: 150px;
    height: 150px;
    margin-top: -75px;
    margin-left: 20px;
}

#user-info-user-img {
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-radius: 50%;
    object-fit: cover;
}

#user-info-body {
    margin-left: 20px;
}

#user-info-username-text {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0.1rem;
    font-size: 18px;
}

#user-info-bio-text {
    margin-top: 10px;
}

.user-info-stat-icon {
    width: 16px;
    height: 16px;
}

.span-link {
    cursor: pointer;
    color: var(--chirp-color);
}

.user-info-day-select {
    width: 120px;
}

.user-info-month-select {
    width: 140px;
}

.user-info-year-select {
    width: 100px;
}