.verification-box {
    margin-top: 38px;
    background-color: white;
    border: 1px solid;
    height: 50px;
    color: #212529;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.verification-box:focus {
    border: 1px solid;
}

.verification-label {
    font-size: 14px;
    font-weight: bold;
    color: GrayText;
}

.verification-value {
    margin-top: -9.5px;
}