<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Email Verification</title>
</head>

<body>
    <p>Dear {{ username }},</p>
    <p>Your One Time Password (OTP) is:</p>
    <b> {{ otp }} </b>

    <p>Your OTP will expire in 60 seconds.</p>

    <p>Please do not share your OTP with anyone else.</p>

    <span><span style="font-family:arial,helvetica,sans-serif;">Best regards,</span></span></p>

    <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td align="middle">
                    <img
                        width="119"
                        height="119"
                        src="https://img.hotimg.com/logo-1.png"
                        style="border: medium none; display: block; width: 119px; height: 119px;"
                    />
                </td>

                <td style="font-size:1px; white-space: nowrap; width:20px;" width="63">&nbsp;</td>

                <td style="background-color: #000405;" width="5">&nbsp;</td>

                <td style="font-size:1px; white-space: nowrap; width:20px;" width="63">&nbsp;</td>

                <td>
                    <table border="0" cellpadding="0" cellspacing="0" style="font-family: Arial,Helvetica,sans-serif; font-size: 1px; line-height: 2px; border-collapse: collapse; border-spacing: 0px; margin: 0px; padding: 0px;">
                        <tbody>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0"
                                        style="font-size: 12px; font-family: Arial,Helvetica,sans-serif; font-weight: normal; color: #333333; text-align: left; line-height: 16px; border-spacing: 0px;">
                                        <tbody>
                                            <tr>
                                                <td style="line-height:1px;font-size:1px;" align="top" width="5">
                                                    &nbsp;
                                                </td>

                                                <td style="font-size: 17px; line-height: 17px; height: 17px; margin: 0px; padding: 0px; display: block;" align="top">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td style="font-size: 13px; line-height: 10px; height: 10px; margin: 0px; padding: 0px; display: block;">
                                    <span>Chirp Inc.</span>
                                </td>
                            </tr>

                            <tr>
                                <td style="font-size: 10px; line-height: 10px; height: 10px; margin: 0px; padding: 0px; display: block;">
                                    &nbsp;
                                </td>
                            </tr>

                            <tr>
                                <td style="font-size: 13px; line-height: 10px; height: 10px; margin: 0px; padding: 0px; display: block;">
                                    <span>Ahmedabad, Gujarat, India</span>
                                </td>
                            </tr>

                            <tr>
                                <td style="font-size: 10px; line-height: 10px; height: 10px; margin: 0px; padding: 0px; display: block;">
                                    &nbsp;
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0"
                                        style="font-family: Arial,Helvetica,sans-serif; font-size: 1px; font-weight: normal; color: #333333; text-align: left; line-height: 1px; border-spacing: 0px;">
                                        <tbody>
                                            <tr>
                                                <td style="font-size: 12px; line-height: 16px; white-space: nowrap;">
                                                    <a
                                                        target="_blank"
                                                        href="https://www.linkedin.com/in/harshil-shah-612b3418a/"
                                                        style="border:none;text-decoration:none;display:inline-block;"
                                                    >
                                                        <img
                                                            height="24"
                                                            src="https://ci6.googleusercontent.com/proxy/5EjkQIgryYZbcVNAy4-iCmhi1GOSRwifK_wbR5OEEM0xb47d62vIJra0khIBUuLkVhFRZdDu5i8MyHmDBapk3T4ZUGGPpYIu7pnsbDtfsmskz2D_5osUGc2oXNqHbVOsCg=s0-d-e1-ft#https://esr-storage.s3.amazonaws.com/images/2586/56905/icons/58d1879917202.gif"
                                                            style="border: medium none; display: block; width: 24px; height: 24px;"
                                                            width="24"
                                                        />
                                                    </a>
                                                </td>

                                                <td style="line-height:1px;font-size:1px;" width="4">&nbsp;</td>

                                                <td style="font-size: 12px; line-height: 16px; white-space: nowrap;">
                                                    <a
                                                        target="_blank"
                                                        href="https://github.com/shah-harshil-07"
                                                        style="border:none;text-decoration:none;display:inline-block;"
                                                    >
                                                        <img
                                                            width="24"
                                                            height="24"
                                                            src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png"
                                                            style="border: medium none; display: block; width: 24px; height: 24px;"
                                                        />
                                                    </a>
                                                </td>

                                                <td style="line-height:1px;font-size:1px;" width="4">&nbsp;</td>

                                                <td style="font-size: 12px; line-height: 16px; white-space: nowrap;">
                                                    <a
                                                        href="https://twitter.com/shah_harshil_07"
                                                        style="border:none;text-decoration:none;display:inline-block;"
                                                        target="_blank"
                                                    >
                                                        <img
                                                            width="24"
                                                            height="24"
                                                            src="https://ci4.googleusercontent.com/proxy/J9Uvije4Y5opaTiMmWB_b2JNK4h_8pDsroAhfDBjC1WHMzuKmew8EqocrNPsKahouURZX5S1GpruzKhvBsI8Mm__5MLq_vdB55M7IfLo-4a3VgW1MZtqjNTn6rKWgEIsHw=s0-d-e1-ft#https://esr-storage.s3.amazonaws.com/images/2586/56905/icons/58d187994d3b9.gif"
                                                            style="border: medium none; display: block; width: 24px; height: 24px;"
                                                        />
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td
                                    style="font-size: 10px; line-height: 10px; height: 10px; margin: 0px; padding: 0px; display: block;">
                                    &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>