<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome Email</title>
</head>

<body>
    <p>Dear {{ username }},</p>
    <p>Your One Time Password (OTP) is:</p>
    <b> {{ otp }} </b>

    <p>Your OTP will expire in 60 seconds.</p>

    <p>Please do not share your OTP with anyone else.</p>

    <p>Warm Regards,<br />The Chirp Team</p>
</body>

</html>