<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome to Chirp!</title>
</head>

<body>
    <p>
        <span><span style="font-family:arial,helvetica,sans-serif;">Dear {{ username }},</span></span>
    </p>

    <p>
        <span>
            <span style="font-family:arial,helvetica,sans-serif;">
                I would like to personally welcome you to Chirp and to wish you a most pleasant experience. Chirp is
                what's happening and what people are talking about right now. It's where news breaks and communities
                converge. And it's all powered by open source, made by a team of amazing developers.
            </span>
        </span>
    </p>

    <p>
        <span>
            <span style="font-family:arial,helvetica,sans-serif;">
                If you have an query regarding anything; or want ro report anyone, please feel free to reach us out at
                <a href="mailto:shahharshil1998@gmail.com">shahharshil1998@gmail.com</a>&nbsp;for assistance.
            </span>
        </span>
    </p>

    <p>
        <span>
            <span style="font-family:arial,helvetica,sans-serif;">
                <strong>Here are some useful instructions for seamless UI &amp; UX experience at Chirp.</strong>
            </span>
        </span>
    </p>

    <p style="margin-left: 0.75in;">
        <span style="font-family:arial,helvetica,sans-serif;">
            1. Refrain from posting posts or comments having hate provoking, nude, semi-nude and/or pornography related
            content on the platform.
        </span>
    </p>

    <p style="margin-left: 0.75in;">
        <span style="font-family:arial,helvetica,sans-serif;">
            2. In case, your account is found to violating our terms and conditions of the agreement, your account will
            be suspended without giving prior notice.
        </span>
    </p>

    <p style="margin-left: 0.75in;">
        <span style="font-family:arial,helvetica,sans-serif;">
            3. In case you find any post or content which hurts religious sentiments of an individual, group and/or
            community, is provoking hate and/or violence against an individual and/or community, is targetted at a
            person with the sole purpose of defamation, is pushing pornography related content of other people
            especially without their consent, please report to strike down the channel by writing a mail to <a
                href="mailto:shahharshil1998@gmail.com">The Chirp Team</a>. The due course of action will be discussed
            furthur in email threads or over phone call.
        </span>
    </p>

    <p style="margin-left: 0.75in;">
        <span style="font-family:arial,helvetica,sans-serif;">
            4. All your account details, post details, etc. is at the discretion of the state and national government
            which will be shared to them if required.
        </span>
    </p>

    <span><span style="font-family:arial,helvetica,sans-serif;">Best regards,</span></span></p>

    <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td align="middle">
                    <img
                        width="119"
                        height="119"
                        src="https://img.hotimg.com/logo-1.png"
                        style="border: medium none; display: block; width: 119px; height: 119px;"
                    />
                </td>

                <td style="font-size:1px; white-space: nowrap; width:20px;" width="63">&nbsp;</td>

                <td style="background-color: #000405;" width="5">&nbsp;</td>

                <td style="font-size:1px; white-space: nowrap; width:20px;" width="63">&nbsp;</td>

                <td>
                    <table border="0" cellpadding="0" cellspacing="0" style="font-family: Arial,Helvetica,sans-serif; font-size: 1px; line-height: 2px; border-collapse: collapse; border-spacing: 0px; margin: 0px; padding: 0px;">
                        <tbody>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0"
                                        style="font-size: 12px; font-family: Arial,Helvetica,sans-serif; font-weight: normal; color: #333333; text-align: left; line-height: 16px; border-spacing: 0px;">
                                        <tbody>
                                            <tr>
                                                <td style="line-height:1px;font-size:1px;" align="top" width="5">
                                                    &nbsp;
                                                </td>

                                                <td style="font-size: 17px; line-height: 17px; height: 17px; margin: 0px; padding: 0px; display: block;" align="top">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" style="font-family: Arial,Helvetica,sans-serif; font-weight: normal; color: #333333; text-align: left; line-height: 16px; border-spacing: 0px;">
                                        <tbody>
                                            <tr>
                                                <td
                                                    height="16"
                                                    align="top"
                                                    style="color: #333333; line-height: 16px; white-space: nowrap;"
                                                >
                                                    <font face="Arial, Helvetica, sans-serif">Chirp</font>
                                                </td>

                                                <td style="line-height:1px;font-size:1px;" align="top" width="6">
                                                    &nbsp;
                                                </td>

                                                <td style="line-height:1px;font-size:1px;" align="top" width="6">
                                                    &nbsp;
                                                </td>

                                                <td style="font-size: 17px; line-height: 17px; height: 17px; margin: 0px; padding: 0px; display: block;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td style="font-size: 10px; line-height: 10px; height: 10px; margin: 0px; padding: 0px; display: block;">
                                    &nbsp;
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" style="font-family: Arial,Helvetica,sans-serif; font-weight: normal; color: #333333; text-align: left; line-height: 1px; border-spacing: 0px;">
                                        <tbody>
                                            <tr>
                                                <td
                                                    height="16"
                                                    align="top"
                                                    style="color: #333333; line-height: 16px; white-space: nowrap;"
                                                >
                                                    <font face="Arial, Helvetica, sans-serif">
                                                        <span>Ahmedabad, Gujarat, India</span>
                                                    </font>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td style="font-size: 10px; line-height: 10px; height: 10px; margin: 0px; padding: 0px; display: block;">
                                    &nbsp;
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0"
                                        style="font-family: Arial,Helvetica,sans-serif; font-size: 1px; font-weight: normal; color: #333333; text-align: left; line-height: 1px; border-spacing: 0px;">
                                        <tbody>
                                            <tr>
                                                <td style="font-size: 12px; line-height: 16px; white-space: nowrap;">
                                                    <a href="https://www.linkedin.com/in/harshil-shah-612b3418a/"
                                                        style="border:none;text-decoration:none;display:inline-block;"
                                                        target="_blank">
                                                        <img height="24"
                                                            src="https://ci6.googleusercontent.com/proxy/5EjkQIgryYZbcVNAy4-iCmhi1GOSRwifK_wbR5OEEM0xb47d62vIJra0khIBUuLkVhFRZdDu5i8MyHmDBapk3T4ZUGGPpYIu7pnsbDtfsmskz2D_5osUGc2oXNqHbVOsCg=s0-d-e1-ft#https://esr-storage.s3.amazonaws.com/images/2586/56905/icons/58d1879917202.gif"
                                                            style="border: medium none; display: block; width: 24px; height: 24px;"
                                                            width="24" />
                                                    </a>
                                                </td>

                                                <td style="line-height:1px;font-size:1px;" width="4">&nbsp;</td>

                                                <td style="font-size: 12px; line-height: 16px; white-space: nowrap;">
                                                    <a href="https://github.com/shah-harshil-07"
                                                        style="border:none;text-decoration:none;display:inline-block;"
                                                        target="_blank">
                                                        <img
                                                            height="24"
                                                            src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png"
                                                            style="border: medium none; display: block; width: 24px; height: 24px;"
                                                            width="24"
                                                        />
                                                    </a>
                                                </td>

                                                <td style="line-height:1px;font-size:1px;" width="4">&nbsp;</td>

                                                <td style="font-size: 12px; line-height: 16px; white-space: nowrap;">
                                                    <a href="https://twitter.com/shah_harshil_07"
                                                        style="border:none;text-decoration:none;display:inline-block;"
                                                        target="_blank">
                                                        <img
                                                            height="24"
                                                            src="https://ci4.googleusercontent.com/proxy/J9Uvije4Y5opaTiMmWB_b2JNK4h_8pDsroAhfDBjC1WHMzuKmew8EqocrNPsKahouURZX5S1GpruzKhvBsI8Mm__5MLq_vdB55M7IfLo-4a3VgW1MZtqjNTn6rKWgEIsHw=s0-d-e1-ft#https://esr-storage.s3.amazonaws.com/images/2586/56905/icons/58d187994d3b9.gif"
                                                            style="border: medium none; display: block; width: 24px; height: 24px;"
                                                            width="24"
                                                        />
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td
                                    style="font-size: 10px; line-height: 10px; height: 10px; margin: 0px; padding: 0px; display: block;">
                                    &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>