.sidebar {
    height: 100vh;
}

.sidebar-profile-img {
    width: 100%;
    height: 100%;
    border-radius: 35px;
}

.options-icon {
    width: 30px;
    height: 30px;
    transform: rotate(270deg);
}