.special-input {
    border: 0px;
    width: 100%;
    font-size: 22px;
}

.form-action-container {
    width: 90%;
    margin-left: 45px;
    margin-top: -36px;
}

.special-input:focus {
    outline: none;
}

.action-icon {
    width: 40px;
    height: 40px;
    padding: 10px;
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.action-icon:hover {
    background-color: rgba(15, 20, 25, 0.1);
    border-radius: 25px;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#schedule-text {
    text-decoration: underline;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    top: 30px;
}
