.scheduled-post-box {
    height: 75px;
    padding-top: 5px;
    flex-direction: column;
}

.scheduled-post-container {
    display: flex;
    cursor: pointer;
}

.scheduled-post-container:hover {
    border-width: 2px;
    border-style: solid;
    border-color: #DC3545;
}

.scheduled-post-delete-btn {
    border-radius: 30px;
    float: right;
}

.scheduled-post-edit-btn {
    float: right;
    background-color: black;
    color: white;
    width: 55px;
    border-radius: 25px;
    border-style: none;
    cursor: pointer;
}