.toast-container {
    top: 24px;
    z-index: 4;
    left: 30px;
    padding: 4px;
    width: 320px;
    position: absolute;
    box-sizing: border-box;
    background-color: #ffff;
    animation: openToaster 0.12s linear;
}

.toast-inner-container {
    z-index: 0;
    padding: 8px;
    display: flex;
    direction: ltr;
    cursor: default;
    min-height: 64px;
    overflow: hidden;
    max-height: 800px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font-family: sans-serif;
    justify-content: space-between;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
}

.toast-body {
    padding: 6px;
    display: flex;
    margin: auto 0;
    flex: 1 1 auto;
}

.toast-close-btn {
    padding: 0;
    border: none;
    opacity: 0.7;
    opacity: 0.3;
    color: #000;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease;
    align-self: flex-start;
    background: transparent;
}

.toast-progressbar {
    left: 0;
    bottom: 0;
    opacity: 1;
    height: 5px;
    width: 100%;
    z-index: 10;
    position: absolute;
    transform-origin: left;
    animation-duration: 5000ms;
    animation-play-state: paused;
    animation: track-progress 5s linear;
}

@keyframes track-progress {
    0% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}

@keyframes openToaster {
    0% {
        left: -315px;
    }

    100% {
        left: 30px;
    }
}