#user-card-body {
    z-index: 4;
    width: 300px;
    padding: 10px;
    position: absolute;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%)
}

.user-card-header-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-card-header-follow-btn {
    width: 100px;
    height: 30px;
    color: white;
    text-align: center;
    align-self: center;
    padding-top: 2.5px;
    border-radius: 25px;
    font-weight: bolder;
    padding-left: 12.5px;
    padding-right: 12.5px;
    background-color: black;
}