:root {
    --chirp-color: #1DA1F2
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

#app-header {
    font-weight: bold;
    text-align: center;
}

#app-container {
    display: grid;
    grid-template-columns: auto 500px auto;
}

.rounded-10 {
    border-radius: 10px;
}

.object-fit-cover {
    object-fit: cover;
}

.common-custom-btn {
    padding-left: 10px;
    height: 34px;
    padding-right: 10px;
    padding-top: 5px;
    background-color: black;
    color: whitesmoke;
    padding-bottom: 5px;
    border-radius: 20px;
    cursor: pointer;
}

.text-decoration-underline {
    text-decoration: underline;
}

.pwd-eye {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 18px;
    right: 10px;
    cursor: pointer;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-20 {
    font-size: 20px;
}

.text-chirp-color {
    color: var(--chirp-color);
}

.chirp-button {
    float: right;
    background-color: #1DA1F2;
    border-radius: 25px;
    color: white;
    border-color: #1DA1F2;
    font-weight: bold;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 2px;
    cursor: pointer;
}