:root {
    --chirp-color: #1DA1F2;
    --unreacted-color: rgb(83, 100, 113);

    --liked-color: rgba(249, 24, 128, 1);
    --reply-color: rgba(29, 161, 242, 1);
    --repost-color: rgba(0, 186, 124, 1);
    --viewed-color: rgba(29, 155, 240, 1);
    --saved-color: rgba(125, 15, 209, 1);

    --liked-bg-color: rgba(249, 24, 128, 0.3);
    --reply-bg-color: rgba(29, 161, 242, 0.3);
    --repost-bg-color: rgba(0, 186, 124, 0.3);
    --viewed-bg-color: rgba(29, 155, 240, 0.3);
    --saved-bg-color: rgba(125, 15, 209, 0.3);

    --common-hover-back-color: rgba(15, 20, 25, 0.1);
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

#app-header {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#app-container {
    display: grid;
    grid-template-columns: 30% 600px 30%;
}

.rounded-10 {
    border-radius: 10px;
}

.object-fit-cover {
    object-fit: cover;
}

.common-custom-btn {
    padding-left: 10px;
    height: 34px;
    padding-right: 10px;
    padding-top: 5px;
    background-color: black;
    color: whitesmoke;
    padding-bottom: 5px;
    border-radius: 20px;
    cursor: pointer;
}

.text-decoration-underline {
    text-decoration: underline;
}

.pwd-eye {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 18px;
    right: 10px;
    cursor: pointer;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-20 {
    font-size: 20px;
}

.text-chirp-color {
    color: var(--chirp-color);
}

.chirp-button {
    float: right;
    background-color: #1DA1F2;
    border-radius: 25px;
    color: white;
    border-color: #1DA1F2;
    font-weight: bold;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 2px;
    cursor: pointer;
}

.repost-body {
    width: 86%;
    float: right;
    margin-right: 27px;
    position: relative;
    border-radius: 25px;
    border: 0.1px solid rgba(0,0,0,.3);
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.font-size-16 {
    font-size: 16px;
}

.seperator-container {
    width: 24px;
    height: 24px;
    padding: 8px;
}

.seperator {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: grey;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-19 {
    font-size: 19px;
}

.font-size-17 {
    font-size: 17px !important;
}

.common-header {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.common-heading-icon {
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 50%;
}

.common-heading-text {
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.common-heading-icon:hover {
    cursor: pointer;
    background-color: var(--common-hover-back-color);
}

.fw-bold {
    font-weight: bold !important;
}

.font-size-25 {
    font-size: 25px !important;
}

.no-posts-box {
    font-size: 16px;
    text-align: center;
}

.w-20 {
    width: 20%;
}

.w-80 {
    width: 80%;
}