@keyframes toggleLabel {
    0% {
        top: 12px;
        left: 21px;
        font-size: 20px;
        z-index: 2;
    }
    
    100% {
        top: 2px;
        left: 11px;
        font-size: 14px;
    }
}

.labelled-input-div {
    border: 1px solid;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
    position: relative;
    height: 55px;
}

#labelled-input-inner-div {
    position: absolute;
    top: 27px;
    width: 95.5%;
}

.labelled-input-text {
    font-size: 14px;
    font-weight: bold;
    color: #1DA1F2;
    margin-bottom: 0px;
    position: absolute;
    top: 2px;
}

.labelled-input-box {
    margin-top: -3.5px;
    margin-bottom: 1px;
    border: 0px solid;
    width: 100%;
}

.labelled-input-box:focus {
    border: 0px solid;
    outline: none;
}